.Header-App{
  height: 200px;
  font-size: 21px;
  font-family: sans-serif;
  background-image: url(./assets/img/backround-header.png);
  background-attachment: fixed;
  font-family: 'Bebas Neue', cursive;
}
.Tittle-H2{
  text-align:center;
  margin-top: 50px;
  font-size: 48px;

}
.NavBar{
  display: flex;
  height: 100px;
  justify-content: space-around;
}
.Vinculos-Ref{
  display: flex;
  align-items: flex-start;
  color: aliceblue;
  margin-left: 50px;

}
.Home-Ref{
  padding: 50px;
  text-decoration: none;
  font-size: larger;
  color: aliceblue;
  
}

.Logo{
  width: 200px;
  height: auto;
  display: inline;
  margin-left: 1200px;
  margin-top: -90px;
  
}
.fotoCarrito{
  width: 50px;
  height: auto;
  display: block;
}
.contadorCarrito{
  margin-left: 22px;
  margin-bottom: -24px;
  margin-top: -21px;

}
.greeting{
  font-size: 2em;
  margin-top: 30px;
  display: inline-block;
  padding: 3em;
  border: 2px solid black;
  border-radius: 2%;
  font-family:'Bebas Neue', cursive; 
  margin-left: 400px;
}