*{
  box-sizing: border-box;
 
 
}

.Header-App{
  height: 200px;
  font-size: 21px;
  font-family: sans-serif;
  background-attachment: fixed;
  font-family: 'Bebas Neue', cursive;
}
.Tittle-H2{
  text-align:center;
  text-decoration: none;
}

.NavBar{
  display: flex;
  height: 100px;
  justify-content: space-around;
}
.Vinculos-Ref{
  display: flex;
  align-items: flex-start;
  color: aliceblue;
  margin-left: 50px;

}
.Home-Ref{
  padding: 50px;
  text-decoration: none;
  font-size: larger;
  color: aliceblue;
  
}

.Logo{
  width: 200px;
  height: auto;
  display: inline;
  margin-left: 1200px;
  margin-top: -70px;
  
}
.fotoCarrito{
  width: 50px;
  height: auto;
  display: block;
}
.contadorCarrito{
  margin-left: 22px;
  margin-bottom: -24px;
  margin-top: -21px;

}
.imgProduct{
  width: 300px;
  height: auto;
}
.propiedadesProduct{
  padding: 30px;
}
.divProduct{
  margin-top: 50px;
  margin-left: 100px;
  
}
.row h3{
  font-family:'Bebas Neue', cursive ;
}
.containertext-center{
  margin-top: 40px;
}
.btnSumar{
  margin-top: 20px;
  margin-right: 20px;
  border: 1px solid #ad6262;
  border-radius: 3px;
  padding: 8px;
}
.btnRestar{
  margin-top: 20px;
  margin-right: 20px;
  border: 1px solid #ad6262;
  border-radius: 3px;
  padding: 8px;

}
/* probando para desafio */
.col{
  margin-top: 40px;
}
.row img{
  margin-left:200px;
}
.row h3{
  margin-left:200px;
  font-family: 'Bebas Neue', cursive;

}
.row h4{
  margin-left:200px;
  
}
.row p{
  margin-left:200px;
}
.row button{
  margin-left:200px;
}
.row p{

 
  margin-top: 20px;
}
.row h5{
  margin-left:200px;
}
.vermasinformacion{
  border: #ad6262;
  text-align: center;
  background-color: firebrick;
  padding: 5px;
  border-radius: 4px;
  font-family: 'Bebas Neue', cursive;

}
.col-md-4{
  flex-wrap: wrap-reverse;

 
}
.row{
  flex-wrap: wrap;
  text-align: center;

  
}
.btnRestar{
  padding-right: 50px;
  padding-left: 50px;
  font-size: x-large;
}
.btnSumar{
  padding-right: 50px;
  padding-left: 50px;
  font-size: x-large;
}
.botonesC p {
  padding-bottom: 50px;

} 
.container{
  width: 300px;
  height: auto;
}
.row .propiedadesProduct{
  border-bottom: 1px dotted black ;
}

/* item detai */
.Row{
  margin-left: 686px;
  font-family:'Bebas Neue', cursive ;
  margin-top: 50px;
}
.Row h4{
margin-left: 159px;
display: inline;
font-size: 50px;
}
.Row h3{
  font-size: xx-large;
}
.Row .vermasinformacion{
  margin-left: 62px;;
}
.Row img{
  width: 400px;
  height: auto;
}
.descriptionDetail{
  font-size: xx-large;
}
.itemPriceDetail h5{
  display: inline;
  font-size: 29px;
  margin-left: 159px;
}
.Row p{
  display:flex;
}
.carritoAdd{
  padding-left: 116px;
  padding-top: 34px;
}

.buy{
  border: none;
  font-size: 28px;
  margin-right: 20px;
}
/* main rompe - inline block - margin left 175px */
.contain{
  text-align: center;
  margin-top: 50px;
  display: inline-flexbox;
  flex-wrap:wrap;
  padding: 10px;
  border: 2px solid rgb(175, 82, 82);
  border-radius: 30px;
  width: 700px;
  height: auto;
  margin: 7px;
  margin-left: 449px;
  background-image: url(./assets/img/nice.png) ;
  color: aliceblue;
  font-size: 500;
  font-family: 'Bebas Neue', cursive;
}
.contain img{
  height: 200px;
  width: auto;
  display: inline;
}

.vermasinformacion:hover{
  width: 100px;
  height: auto;
  
}
.navi{
  margin: 40px 0px 0px 0px;
  padding-left: 40px;
  font-family: 'Bebas Neue', cursive;
  position: static;
 
  
}
.navi h2{
  color: #ad4545;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
}
.navi h3{
  color: rgb(12, 8, 8);
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
}
.nameItem:hover{
  background-color: black;
}
body{
  background-image: url("https://wallpaper.dog/large/10714794.jpg");
  position:absolute;
  background-repeat: initial;
}
.add{
  background-image: url('./assets/img/nice.png');
  display: inline-block;
  border-radius: 10%;
  width: 500px;
  height: auto;
  text-align: center;
  color: aliceblue;
}